@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
}

.container {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1110px;
}
.first_page {
    background-image: url('../images/background.png');
    background-size: cover;
    max-width: 1680px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
header {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 32px;
    position: absolute;
    width: 100%;
}
.logo {
    justify-content: space-between;
    align-items: center;

}
.fb {
    /* White */
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 9px 13px 5px 13px;
}
.ig {
    width: 36px;
    height: 36px;
    left: 1359px;
    top: 32px;

    /* White */
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 9px 9px 5px 9px;
}
header nav ul {
    display: flex;

    list-style-type: none;
}
.logo_name {
    position: absolute;
    width: 220px;
    height: 43px;
    color: #FFFFFF;
    padding-left: 22px;
    font-family: '20 Kopeek';
}
.number {
    border: 1px solid #FFFFFF;
    box-sizing: content-box;
    border-radius: 15px;
    padding: 10px 27px 6px 36px;
    font-family: '20 Kopeek';
    text-decoration: none;
}
.mr-23 {
    padding-right: 23px;
}
.text_1 {

    max-height: 98px;
    padding-top: 344px;
    font-size: 55px;
    line-height: 100%;
    font-family: '20 Kopeek';
    width: 590px;
    height: 98px;
    left: 285px;
    top: 344px;
}
.text_2 {
    max-width: 528px;
    max-height: 28px;
    font-size: 34px;
    line-height: 110%;
    padding-top: 30px;
    font-family: '20 Kopeek';
}
.buttons {
    display: flex;
    padding-top: 65px;
    list-style-type: none;
    padding-bottom: 309px;


}
.button_1 {
    margin-right: 20px;
    background: #FFFFFF;
    flex-direction: row;
    border-radius: 40px;
    padding: 23px 47px;
    font-family: '20 Kopeek';
    text-decoration: none;

}
.button_2 {
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;
    font-family: '20 Kopeek';
    text-decoration: none;
 }
.second_page {
    max-width: 1110px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-family: "20 Kopeek";
}
.firm_style {
    display: flex;
    justify-content: space-between;
}
.jam {
    font-size: 38px;
    margin-top: 70px;
}
.jam_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    margin-top: 117px;
    width: 445px;
    height: 400px;
}
.text_about {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    margin-top: 150px;
}
.step_success {

    display: flex;
}
.step_1 {
    padding-right: 67px;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 65px;
}
.step_2 {
    padding-right: 43px;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 65px;
}
.step_3 {
    padding-right: 28px;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 69px;
}
.step_4 {
    padding-right: 90px;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 69px;
}
.step_5 {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 69px;
    flex-direction: column;
}
.step_5_1 {
    width: 140px;
    height: 75px;
}
.step_5_2 {
    width: 260px;
    height: 133px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    padding-top: 16px;
}
.text_xl {
    padding-right: 8px;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    margin-top: 40px;
}
.how_much {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.how_much_text {
    margin-top: 177px;
    width: 396px;
    height: 400px;
}
.how_much_image {
    margin-top: 120px;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    margin-bottom: 150px;
}
.text_blue {
    background-color: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 13px;
    position: relative;
    left: -15px;
}
.third_page {
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    font-family: "20 Kopeek";
}
.amperia {
display: flex;
}
.amperia_text {
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    padding-right: 136px;
    margin-top: 45px;
}
.amperia_see {
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 38px;
    text-decoration: none;

}
.brand_size {
    width: 233px;
    height: 50px;
    margin-bottom: 100px;
}
.see_more {
    box-sizing: border-box;
    align-items: center;
    color: #FFFFFF;
    font-size: 26px;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
    width: 250px;
    height: 75px;
    margin-bottom: 100px;
    position: relative;
    left: 40%;
}
.guide {
    font-size: 38px;
    line-height: 110%;
    margin-bottom: 15px;
}
.guideline {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
}
.dislife_pct {
    padding-right: 30px;
}
.dislife_blue {
    font-weight: 400;
    line-height: 110%;
    color: white;
    width: 459px;
    height: 230px;
    padding: 14px 11px 39px 18px;
    background: #2B59C3;
    border-radius: 5px;
}
.dislife_text {
    width: 431px;
    height: 171px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}
.dislife_h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    /* or 29px */
}
form {
    margin-top: 27px;
    margin-bottom: 21px;
}
.send {
    display: flex;
}
.size {
    max-width: 392px;
    padding-left: 30px;
}
.feed_back {
    width: 100%;
    border: none;
    border: 1px solid #181818;
    opacity: 0.5;
    border-radius: 10px;
    width: 350px;
    height: 71px;
}
button {
    display: inline-block;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 23px 47px;
    width: 228px;
    height: 71px;
    background: #2B59C3;
    border-radius: 40px;
}
.button_3 {
    padding-left: 30px;
}
.checkbox {
    margin-top: 21px;
}